<!-- name="sun.diff.components.adminCrud/crud-table-list.tpl.html" -->
<div class="col-md-10  col-md-offset-1">
    <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected ng-table ">
        <thead>
        <tr>
            <td colspan="{{ displayColumns.length + 2 }}">
                <button class="btn btn-primary pull-right" ng-click="createObject()">Add new</button>
            </td>
        </tr>
        <tr>

            <th ng-repeat="column in displayColumns"
                class="text-center sortable"
                ng-class="{ 'sort-asc': tableParams.isSortBy(column.name, 'asc'),
                                 'sort-desc': tableParams.isSortBy(column.name, 'desc')
                              }"
                ng-click="tableParams.sorting(column.name, tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')">
                {{ column.name | toHuman }}
            </th>
            <th width="1%">
                <span><i class="fa fa-trash-o fa-lg"> </i></span>
            </th>
            <th width="1%">
                <span><i class="fa fa-edit fa-lg"> </i></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $data"
            ng-click="row.$selected = !row.$selected; changeSelection(row)"
            ng-class="{'active': row.$selected}">


            <td ng-repeat="column in displayColumns" sortable="column.field">
                {{ row[column.name] }}
            </td>
            <td>
                <a ng-click="remove(row)"><span class="fa fa-trash-o"></span></a>
            </td>
            <td>
                <a ng-click="edit(row)"><span class="fa fa-edit"></span></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ displayColumns.length +1 }}">
                <div class="ng-cloak ng-table-pager">
                    <div ng-if="params.settings().counts.length" class="ng-table-counts btn-group pull-right">
                        <button ng-repeat="count in params.settings().counts" type="button"
                                ng-class="{'active':params.count()==count}" ng-click="params.count(count)"
                                class="btn btn-default"><span ng-bind="count"></span></button>
                    </div>
                    <ul class="pagination ng-table-pagination">
                        <li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type"><a
                                ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;</a> <a
                                ng-switch-when="first" ng-click="params.page(page.number)" href=""><span
                                ng-bind="page.number"></span></a> <a ng-switch-when="page"
                                                                     ng-click="params.page(page.number)"
                                                                     href=""><span
                                ng-bind="page.number"></span></a> <a ng-switch-when="more"
                                                                     ng-click="params.page(page.number)" href="">
                            &#8230;</a> <a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span
                                ng-bind="page.number"></span></a> <a ng-switch-when="next"
                                                                     ng-click="params.page(page.number)"
                                                                     href="">&raquo;</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<!--</div>-->
<!--<div ng-show="showEdit" class="row">-->
<!---->
<!--</div>-->